<header class="bg-white">
    <div class="container mx-auto px-2 py-5 text-black text-sm flex items-center justify-between shadow-2xs">
        <nav aria-label="Navegação Principal">
            <ul class="flex flex-wrap mx-auto justify-between gap-7">
                <li><a href="#" class="text-black transition-all delay-100 hover:text-blue-600">Courses</a></li>
                <li><a href="#" class="text-black transition-all delay-100 hover:text-blue-600">About Us</a></li>
                <li><a href="#" class="text-black transition-all delay-100 hover:text-blue-600">Contact Us</a></li>
            </ul>
        </nav>

        <div class="flex items-center space-x-4">
            <a href="#" class="text-blue-600 transition-all delay-100 hover:text-blue-600 bg-transparent px-5 py-3 rounded border-2">Login</a>
            <a href="#" class="text-blue-600 transition-all delay-100 hover:text-blue-600 bg-transparent px-5 py-3 rounded border-2">Cadastre-se</a>
        </div>
    </div>
</header>